/* mobile */
/* card content */
.card-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-large);
    padding: var(--space-medium);
}

.card {
    max-width: 400px;
    min-width: 300px;
    background-color: transparent;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: var(--border-radius);
    padding: var(--space-medium);
}

.card:hover {
    background-color: var(--tertiary-background-color);
    box-shadow: 1px 1px 5px var(--primary-color-opacity);
    cursor: pointer;
}

.card__img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: var(--space-medium);
}

.card__player {
    display: flex;
    justify-content: space-between;
    font-family: "KodeMono-Bold", sans-serif;
    font-size: var(--font-size-xx-large);
    margin-bottom: var(--space-medium);
}

.player__number {
    font-size: 2.5rem;
    padding-left: var(--space-x-large);
}

.card__info {
    color: var(--tertiary-color);
    margin-bottom: var(--space-medium);
}

/* tablet */
@media screen and (min-width: 768px) {
    .card-container {
        padding: var(--space-large) var(--space-medium);
    }
}

/* desktop small */
@media screen and (min-width: 1024px) {
    .card-container {
        padding: var(--space-xx-large) var(--space-medium);
    }
}