/* mobile */
.navbar {
    width: 100%;
    height: 6vh;
    font-family: "KodeMono-Bold", sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: var(--space-medium) var(--space-small);
}

/* toggle */
.navbar__toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__toggle {
    background-color: transparent;
    border: none;
    z-index: 1;
}

.navbar__toggle-svg {
    visibility: visible;
    cursor: pointer;
}

.navbar__toggle-svg:hover {
    fill: var(--primary-background-color);
}

/* links */
.navbar__links {
    position: absolute;
    top: 6vh;
    left: -1000px;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    transition: 0.5s;
    display: flex;
    justify-content: start;
    align-items: flex-start; 
    padding: var(--space-medium);
    background-color: var(--primary-color);
}

.navbar__links--active {
    left: 0;
}

.navbar__links a {
    color: var(--secondary-color);
}

.navbar__links a:hover {
    color: var(--primary-background-color);
}

.navbar__link {
    margin-bottom: var(--space-medium);
}

.navbar__link--active a {
    color: var(--primary-background-color);
}

/* tablet */
@media screen and (min-width: 768px) {
    .navbar {
        height: 10vh;
        justify-content: center;
    }

    nav a {
        font-size: var(--font-size-x-large);
        padding: 0;
    }
    
    .navbar__toggle-svg {
        display: none;
    }

    .navbar__links-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar__links {
        height: 100%;
        width: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-large);
        transition: 0s;
    }
    
    .navbar__link {
        margin-bottom: 0;
    }
}

/* desktop small */
@media screen and (min-width: 1024px) {
    .navbar__links-container {
        padding: 0 var(--space-large);
    }
}