:root {
    --primary-background-color: #e30613;
    --secondary-background-color: #F6F6F6;
    --tertiary-background-color: #ffffff;

    --primary-color: #0B0D14;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
    --primary-color-opacity: #0b0d1407;

    --space-x-small: 0.5rem;
    --space-small: 0.75rem;
    --space-medium: 1rem;
    --space-large: 1.5rem;
    --space-x-large: 2rem;
    --space-xx-large: 2.5rem;

    --border-radius: 0.5rem;

    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-x-large: 1.25rem;
    --font-size-xx-large: 1.5rem;
}
